@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    background-color: #D2B48C;
    color: #333333;
}

header {
    background-image: url("img/primer-plano-deliciosos-tacos (1).jpg");
    background-size: cover;
    height: 120vh;
    display: flex;
    font-size: 2.5em;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
}

header img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

nav {
    background-color: #E40017;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

nav a {
    color: #fbf7f7;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

#main {
    text-align: center;
}

#main h2 {
    font-size: 28px;
    margin: 10px 0;
}

#main p {
    font-size: 18px;
    margin-bottom: 10px;
}

#main ul {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2;
}

#main ul li {
    margin-bottom: 5px;
}

section {
    font-size: 18px;
    padding: 20px;
}

form {
    font-size: 18px;
    display: grid;
    grid-template-columns: 200px 500px;
    gap: 20px;
}

button {
    grid-column: span 2;
    padding: 4px;
    background-color: #568203;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.fa-brands {
    font-size: 28px;
    margin-right: 20px;
    color: #00acee;
}

footer {
    background-color: #333333;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}
