/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-image: url("img/logo.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

#header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#header h1 {
    font-size: 40px;
    margin-top: 10px;
}

#header p {
    font-size: 20px;
    margin-top: 10px;
}

#nav {
    background-color: #7300ff;
    height: 50px;
    display: flex;
    align-items: center;
}

#nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

#nav ul li {
    font-size: 20px;
}

#nav ul li a {
    color: white;
    text-decoration: none;
}

#nav ul li a:hover {
    text-decoration: underline;
}

#main {
    width: 80%;
    margin: 20px auto;
}

#main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#main p {
    font-size: 16px;
    margin-bottom: 10px;
}

#main ul {
    font-size: 16px;
    margin-bottom: 10px;
}

#main ul li {
    margin-bottom: 5px;
}
